/* Navigation */

.navigation {
  background-color: $color-1;
  position: fixed;
  margin: 0;
  height: 100vh;
  color: white;
  display: flex;
  padding: 0;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.logo-row {
  padding: 20px 0;
  margin-bottom: -50px;
}

.menu a {
  color: $color-5;
}

.menu-row {
  height: 1px;
}

.menu-button {
  padding-left: 80%;
  font-size: 30px;
  color: $color-5;
}

.menu-button:hover {
  color: $color-2;
}

.menu-button p {
  display: none;
}

.logo {
  line-height: 30px;
  font-size: 40px;
  font-family: $logo-font;
  padding-left: 20px;
}

.menu {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $brand-font;
  color: $color-5;
}

.bullet {
  // margin-left: 0;
  padding: 15px 20px;
  height: 50px;
  width: 100%;
  position: relative;
}

.bullet:focus,
.bullet:hover {
  background-color: $color-14;
  border-left: 4px solid $color-2;
  padding-left: 16px;
}

.bullet:focus .bullet-name,
.bullet:hover .bullet-name {
  left: 66px;
  color: white;
}

.bullet:focus object,
.bullet:hover object {
  opacity: 100%;
}

.bullet div {
  position: absolute;
}

.menu object {
  width: 20px;
  height: 20px;
  opacity: 50%;
}

.nav-section-title {
  color: $color-5;
  font-family: $brand-font;
  border-top: 1px solid $color-5;
  padding-left: 20px;
}

.bullet-name {
  left: 70px;
  top: 5px;
  font-size: 20px;
  line-height: 40px;
}

.your-manager-photo {
  width: 50px;
  height: 50px;
}

.your-manager-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.your-manager-profile {
  position: relative;
  padding-left: 20px;
}

.your-manager-profile div {
  position: absolute;
}

.active-person {
  top: 1px;
  left: 55px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 2;
}

.active-dot {
  background-color: $color-10;
}

.your-manager-name {
  line-height: 10px;
  left: 90px;
}

.your-manager-name a {
  text-decoration: none;
  color: $color-4;
  font-family: $brand-font;
}

.your-manager-name a:hover {
  color: $color-2;
}

@media (max-width: 1200px) {
  .navigation {
    padding: 0;
  }
}

@media (max-width: 769px) {
  // nav {
  //   width: 100%;
  // }

  .navigation {
    z-index: 2;
    height: 100px;
    background-color: $color-1;
    width: 100%;
  }

  .your-manager {
    height: 150px;
  }

  .navigation-dropdown {
    // position: absolute;
    display: none;
    background-color: $color-1;
  }

  .active {
    display: block;
  }
  // .navigation ul li a:focus + ul {
  //   display: block;
  // }
}
