//General

.section-big-table {
  margin: 20px 20px;
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}

.section-big-table .table-row {
  font-family: $brand-font;
  font-weight: 900;
  font-size: 12px;
  justify-content: space-between;
}

.section-big-table .table-row td {
  width: 95px;
  padding-left: 5px;
  //   margin-right: 20px;
  //   margin-left: 0;

  //   text-align: center;
}

//HEAD
.section-big-table thead .table-row {
  margin-bottom: -2px;
}

.section-big-table thead button {
  border: none;
  background: none;
  font-family: $brand-font;
  color: $color-5;
  padding-left: 0;
  margin-left: 0;
  font-weight: 900;
}

.section-big-table thead .table-row:hover {
  background: white;
}

.filtering img {
  width: 10px;
  margin-left: 5px;
  display: none;
}

.section-big-table .filtering:hover {
  margin-top: 8px;
  margin-left: -5px;
  color: black;
  background: $color-6;
  border-radius: 2px;
  padding-left: 5px;
  //   margin-top: 20px;
  //   display: inline;
  width: max-content;
  //   height: 20px;
  padding: 5px;
  line-height: 15px;
}

.filtering:hover img {
  display: inline-block;
}

//BODY
.section-big-table tbody .table-row {
  color: $color-14;
}
//FOOT

.section-big-table tfoot td {
  height: 100px;
  padding: 30px 0 10px 0;
}

.table-foot {
  height: 50px;
  width: max-content;
  margin: auto;
}

.table-foot img {
  width: 10px;
  margin: 0 20px;
}

.table-foot button {
  border-radius: 2px;
  border: none;
  width: 40px;
  height: 40px;
  color: $color-4;
  font-family: $brand-font;
  background: none;
}

.table-foot .active-button {
  background: $color-6;
  color: $color-5;
}

//DETAILS

.details .table-row td:nth-child(3),
.details .table-row td:nth-child(4),
.details .table-row td:nth-child(5),
.details .table-row td:nth-child(6),
.details .table-row td:nth-child(7),
.details .table-row td:nth-child(11) {
  width: 60px;
}

.details .table-row td:nth-child(2) {
  width: 120px;
}

.details .table-row td:nth-child(9) {
  width: 80px;
}

//DETAILS

.payout .table-row td {
  width: 220px;
  font-size: 15px;
}
